<script src="/panel/js/coreui.bundle.min.js"></script>
<script src="/panel/js/svgxuse.min.js"></script>
<script src="/panel/js/coreui-chartjs.bundle.js"></script>
<script src="/panel/js/coreui-utils.js"></script>
<script src="/panel/js/main.js"></script>

<!--<![endif]-->


</body>
</html>
