<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v3.4.0
* @link https://coreui.io
* Copyright (c) 2020 creativeLabs Åukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->
<html lang="en" dir="ltr">
<head>
    <base href="./">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="fa"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no"/>
    <meta name="handheldfriendly" content="true"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1"/>
    <title> sesami app | <%= pageTitle %></title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="/panel/css/coreui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/all.min.css">
    <link href="/panel/css/style.css" rel="stylesheet">
    <link href="/panel/css/custom.css" rel="stylesheet">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="/js/jquery-1.11.2.min.js"></script>

</head>
<body class="c-app">
