<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
    <div class="c-sidebar-brand d-lg-down-none">
        <a href="/" class="text-white" target="_blank">
            panel management dashboard
        </a>
    </div>
    <ul class="c-sidebar-nav">
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="/panel/dashboard">
                <i class=" fa fa-tachometer-alt pl-1"></i>
                dashboard
            </a>
        </li>


        <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="javascript:void(0)">
                <i class="fas fa-users pl-1"></i> meetings</a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/panel/meetings">
                        <i class="fas fa-users pl-1"></i>
                        meetings</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/panel/create/meeting" target="_top">
                        <i class="fas fa-plus pl-1"></i>
                        create meeting</a></li>

            </ul>
        </li>


    </ul>

</div>


