<%- include('../includes/head.ejs') %>

 <%- include('../includes/navigation.ejs') %>

<div class="c-wrapper c-fixed-components">
    <%- include('../includes/top.ejs') %>


    <div class="c-body">
        <main class="c-main">
            <div class="container-fluid">

            </div>
        </main>

    </div>
</div>
<!-- CoreUI and necessary plugins-->



<%- include('../includes/end.ejs') %>